

html, body {
  max-width: 100vw;
  max-height: 100vh;
  font-family: 'Wix Madefor Display';
  text-transform:uppercase;
  margin: 0;
  padding: 0;
}
canvas {
  width: 100vw;
  height: 100vh;
  display: block;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 100vh;
  width: 90vw;
  height: 100vh;
  padding: 4rem;
  position:absolute;
  top: 0;
}

.line{
  width: 50px;
  height: 2px;
  background-color: #262F3B;
}

.line_group{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h1,h2 {
  font-size: 100px;
  font-weight: 400;
  letter-spacing: -3%;
  width: fit-content;
}

h2{
  color: #166AEA;
}



.flex_top, .flex_bottom{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex_top{
  justify-self: top;
}

.flex_bottom{
  justify-self: bottom;
}




.text_bottom{
  text-align: center;
  font-weight: 600;
  max-width: 24rem;
}